@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);

  min-height: 100dvh;

  overflow: hidden;

  background:
  radial-gradient(circle at top left,#7c5cff22,transparent 35%),
  radial-gradient(circle at bottom right,#4fd1c522,transparent 35%),
  var(--bg-primary);

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}